/*body{
	background-color: #1D1246 !important;
}*/
.bg-one{
	background-color: #E4784D;
}
.bg-two{
	background-color: #B65538;
}
.bg-three{
	background-color: #E3744A;
}
.bg-four{
	background-color: #0b34B6;
}
.bg-five{
	background-color: #33243D;
}
.bg-six{
	background-color: #C01E7E;
}
.bg-serven{
	background-color: #09061E;
}
.intro-box{;
	height: 100%;
	
}
.h123{
	height: 128px;
}
.header{
	color: white;
}
.wrap>div:before,.wrap>div:after {
	background-color: #fff;
}
.wrap>div:after{
	width: 25%;
}
.barText{
	position: absolute;
    top:-20px;
    left: 70%;
    height: 40px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 12px;
	margin-left:-3px;
}
.barText img{

}
.barText div{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
}
.barText img{
	height: 16px;
	width: 16px;
}
.intro-con{
	margin-top: 140px;
}
.top-con{
	height: 340px;
}
.top-con,.bottom-con{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-con-left,.top-con-right{
	width: calc((100% - 630px)/2);
}
.top-con-left{
	display: flex;
	align-items: center;
	color: white;
	font-size: 11px;
	padding-left: 50px;
}
.top-con-right{
	display: flex;
	flex-direction: row-reverse;
	align-items: center;
	color: white;
	font-size: 11px;
	padding-right: 50px;
}
.top-con-right>div{
	height: 54px;
	width: 54px;
	background-color: white;
	border-radius: 100%;
}
.next{
	height: 20px;
	width: 20px;
}
.top-con-center{

	width: 830px;
	color: white;
	font-family: "Segoe UI";
}
.pd{
	padding:0 50px;
}
.jbd{
	padding: 40px 50px 40px 90px ;
	border:1px transparent solid;
	border-image:linear-gradient(to left,#F0A657,#E57B49) 1 10;
}
.half{
	width: 50%;
}
.xian{
	height: 1px;
	width: 50px;
	background-color: white;
	transform: scaleY(0.2);
}
.type{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 280px;
}
.element2{
	position: absolute;
	top:-30px;
	left:50%;
	margin-left: -6px;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    border-radius: 50%;
}
.element2:after{
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin:-2px 0 0 -2px;
}
.has_login{
	height: 20px;
	width: 20px;
}
.mb-5{
	margin-bottom: -5px;
}
.boxF, .boxS, .boxT, .overlay
{
    width: 208px;
    height: 260px;
    overflow: hidden;
    background-color: green;
}
.boxF, .boxS
{
    visibility: hidden;
}
.boxF
{
    transform: rotate(120deg);
    float: left;
    -ms-transform: rotate(120deg);
    -moz-transform: rotate(120deg);
    -webkit-transform: rotate(120deg);
}
.boxS
{
    transform: rotate(-60deg);
    -ms-transform: rotate(-60deg);
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
}
.boxT
{
    transform: rotate(-60deg);
    background: no-repeat 50% center;
    /*background-size: 125% auto;*/
    -moz-transform: rotate(-60deg);
    -webkit-transform: rotate(-60deg);
    visibility: visible;
}
.jbg{
    background: linear-gradient(bottom right, #F0A657, #E57B49);
    background: -ms-linear-gradient(bottom right, #F0A657, #E57B49);
    background: -webkit-linear-gradient(bottom right,#F0A657, #E57B49);
    background: -moz-linear-gradient(bottom right, #F0A657, #E57B49);
}
.bjbg{
	border:1px transparent solid;
	border-image:linear-gradient(to left,#F0A657,#E57B49) 1 10;
}
.c-img{
	height: 45px;
	width: 45px;
}